# LOAN PREDICTION
gilang agung saputra

## 1. import library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 99)
sns.set()

## 2. import data

In [2]:
#di task-5: data_raw ---> data_awal

data_awal = pd.read_csv('loan_data_2007_2014.csv', index_col=0)

C:\Users\ACER\AppData\Local\Temp\ipykernel_2868\1347329096.py:3: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  data_awal = pd.read_csv('loan_data_2007_2014.csv', index_col=0)

## 3. Eksplorasi data

In [3]:
#melihat baris dan kolom dari data
print(data_awal.shape)

(466285, 74)

In [4]:
#melihat informasi data
print(data_awal.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 466285 entries, 0 to 466284
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   term                         466285 non-null  object
 6   int_rate                     466285 non-null  float64
 7   installment                  466285 non-null  float64
 8   grade                        466285 non-null  object
 9   sub_grade                    466285 non-null  object
 10  emp_title                    438697 non-null  object
 11  emp_length                   445277 non-null  object
 12  home_ownership               466285 non-null  object
 13  annual_inc                   466281 non-null  float64
 14  verification_status          466285 non-null  object
 15  issue_d                      466285 non-null  object
 16  loan_status                  466285 non-null  object
 17  pymnt_plan                   466285 non-null  object
 18  url                          466285 non-null  object
 19  desc                         125983 non-null  object
 20  purpose                      466285 non-null  object
 21  title                        466265 non-null  object
 22  zip_code                     466285 non-null  object
 23  addr_state                   466285 non-null  object
 24  dti                          466285 non-null  float64
 25  delinq_2yrs                  466256 non-null  float64
 26  earliest_cr_line             466256 non-null  object
 27  inq_last_6mths               466256 non-null  float64
 28  mths_since_last_delinq       215934 non-null  float64
 29  mths_since_last_record       62638 non-null   float64
 30  open_acc                     466256 non-null  float64
 31  pub_rec                      466256 non-null  float64
 32  revol_bal                    466285 non-null  int64
 33  revol_util                   465945 non-null  float64
 34  total_acc                    466256 non-null  float64
 35  initial_list_status          466285 non-null  object
 36  out_prncp                    466285 non-null  float64
 37  out_prncp_inv                466285 non-null  float64
 38  total_pymnt                  466285 non-null  float64
 39  total_pymnt_inv              466285 non-null  float64
 40  total_rec_prncp              466285 non-null  float64
 41  total_rec_int                466285 non-null  float64
 42  total_rec_late_fee           466285 non-null  float64
 43  recoveries                   466285 non-null  float64
 44  collection_recovery_fee      466285 non-null  float64
 45  last_pymnt_d                 465909 non-null  object
 46  last_pymnt_amnt              466285 non-null  float64
 47  next_pymnt_d                 239071 non-null  object
 48  last_credit_pull_d           466243 non-null  object
 49  collections_12_mths_ex_med   466140 non-null  float64
 50  mths_since_last_major_derog  98974 non-null   float64
 51  policy_code                  466285 non-null  int64
 52  application_type             466285 non-null  object
 53  annual_inc_joint             0 non-null       float64
 54  dti_joint                    0 non-null       float64
 55  verification_status_joint    0 non-null       float64
 56  acc_now_delinq               466256 non-null  float64
 57  tot_coll_amt                 396009 non-null  float64
 58  tot_cur_bal                  396009 non-null  float64
 59  open_acc_6m                  0 non-null       float64
 60  open_il_6m                   0 non-null       float64
 61  open_il_12m                  0 non-null       float64
 62  open_il_24m                  0 non-null       float64
 63  mths_since_rcnt_il           0 non-null       float64
 64  total_bal_il                 0 non-null       float64
 65  il_util                      0 non-null       float64
 66  open_rv_12m                  0 non-null       float64
 67  open_rv_24m                  0 non-null       float64
 68  max_bal_bc                   0 non-null       float64
 69  all_util                     0 non-null       float64
 70  total_rev_hi_lim             396009 non-null  float64
 71  inq_fi                       0 non-null       float64
 72  total_cu_tl                  0 non-null       float64
 73  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(6), object(22)
memory usage: 266.8+ MB
None

In [5]:
#melihat sample data awal
data_awal.sample()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
245084,35683420,38378850,16000,16000,16000.0,60 months,12.99,363.97,C,C2,letter carrier,10+ years,OWN,70000.0,Verified,Nov-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,major_purchase,Major purchase,333xx,FL,2.61,0.0,Nov-84,0.0,NaN,NaN,3.0,0.0,16457,2.2,13.0,w,0.0,0.0,16057.73,16057.73,16000.0,57.73,0.0,0.0,0.0,Dec-14,16069.28,NaN,Nov-14,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,16457.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103800.0,NaN,NaN,NaN

In [6]:
#cek apakah ada id yang terduplikasi
data_awal.id.nunique()

466285

In [7]:
#cek apakah ada member_id yang terduplikasi
data_awal.member_id.nunique()

466285

dari 2 cell diatas terlihat bawa id dan member_id tidak ada data yang terduplikasi

Membuang data yang tidak digunakan

In [8]:
#cols_to_drop ---> hapus_kolom
#menghapus kolom yang tidak dibutuhkan 
hapus_kolom = [
    #unique id
    'id', 'member_id'

    #free text
    , 'url', 'desc'

    #kolom-kolom lain
    , 'zip_code' 
    , 'annual_inc_joint'
    , 'dti_joint'
    , 'verification_status_joint'
    , 'open_acc_6m'
    , 'open_il_6m'
    , 'open_il_12m'
    , 'open_il_24m'
    , 'mths_since_rcnt_il'
    , 'total_bal_il'
    , 'il_util'
    , 'open_rv_12m'
    , 'open_rv_24m'
    , 'max_bal_bc'
    , 'all_util'
    , 'inq_fi'
    , 'total_cu_tl'
    , 'inq_last_12m'

    #penilaian
    , 'sub_grade'
]

In [9]:
data = data_awal.drop(columns=hapus_kolom, axis=1)

In [10]:
data.sample()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
430626,20000,20000,20000.0,36 months,12.99,673.79,B,RN,4 years,MORTGAGE,95000.0,Source Verified,Mar-14,Current,n,credit_card,Credit card refinancing,PA,18.61,0.0,Sep-84,3.0,NaN,53.0,14.0,1.0,10627,79.9,45.0,f,9282.5,9282.5,14149.59,14149.59,10717.5,3432.09,0.0,0.0,0.0,Jan-16,673.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,0.0,0.0,443024.0,13300.0

## 4. Mendefinisikan target variable atau labelling

Variabel loan_status dapat menjadi variabel target karena menampilkan informasi berupa kemampuan nasabah untuk membayar pinjaman atau tidak.

In [11]:
#menghitung value dari variabel loan_status dengan normalisasi
value_loan = data['loan_status'].value_counts(normalize=True)*100
print(value_loan)
#ditampilkan dalam persen

Current                                                48.087757
Fully Paid                                             39.619332
Charged Off                                             9.109236
Late (31-120 days)                                      1.479782
In Grace Period                                         0.674695
Does not meet the credit policy. Status:Fully Paid      0.426349
Late (16-30 days)                                       0.261214
Default                                                 0.178432
Does not meet the credit policy. Status:Charged Off     0.163205
Name: loan_status, dtype: float64

Current: pembayaran yang lancar
Fully Paid: pembayaran yang sudah lunas
Charged Off: pembayaran yang tidak dapat dilakukan/macet
Late: pembayaran yang terlambat
In Grace Period: pembayaran yang masih dalam masa tenggang

Untuk memutuskan sebagai peminjam yang baik (good load) atau peminjam yang buruk(bad loan) tentu bergantung bagaimana perusahaan memutuskan, misal pembayaran telat 60 hari maka dapat dikategorikan ke bad loan.

Untuk projek ini, penanda bad loan adalah pembayaran yang terlambat lebih dari 30 hari.

In [21]:
#melakukan kategori untuk bad status
bad_status = ['Charged Off', 
                'Default', 
                'Late (31-120 days)', 
                'does not meet the credit policy. Status:Charged Off'
                ]

data['bad_flag'] = np.where(data['loan_status'].isin(bad_status), 'bad:', 'good:')

In [22]:
data['bad_flag'].value_counts(normalize=True)*100

good:    89.232551
bad:     10.767449
Name: bad_flag, dtype: float64

Proses diatas adalah "flagging", untuk melihat data dengan bad atau good loan.

Data diatas menunjukkan bahwa bad loan jauh lebih rendah daripada good loan, dataset menunjukkan ketidakseimbangan antara bad loan dan good loan